.app9{
  font-family: Arial, sans-serif;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThz6e4LLmVaUEGBgTp4fzSO-eWMharUdBS9i05zVRKJOZVcW8V9254hskExkquMho_H4M&usqp=CAU");
    background-size: cover;
    background-position: center;


  }
  .te{
    color: black;
    margin-right: 150px;
  }