.juu{
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/329/851/original/3d-white-clipboard-task-management-todo-check-list-with-pencil-efficient-work-on-project-plan-fast-progress-level-up-concept-assignment-and-exam-checklist-icon-3d-render-on-pink-background-vector.jpg");
    background-size: cover;
    background-position: center;
}